body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-width: fit-content;
}

#deep-quots {
  background-color: #E5E7EB;
  padding: 100px 150px;
  color: #1F2937;
  display: flex;
  flex-direction: column;
}

#deep-quots p {
  /* margin: 0 50px; */
  text-align: end;
  font-size: 24px;
  font-weight: bold;
  /* background-color: cadetblue; */
  /* border: 2px solid blue; */
}

blockquote {
  margin: 0;
  /* background-color: cadetblue; */
  /* border: 2px solid blue; */
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

#information {
  display: flex;
  padding: 20px 150px 100px 150px;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.info-title {
  margin: 0;
}

.figures {
	/* background-color: burlywood; */
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
  text-align: center;
  color: #8a8b8d;

}

figure img {
  border: 3px solid #3882F6;
  border-radius: 15px;
  width: 130px;
  height: 130px;
  margin: 0;
  padding: 0;
  align-self: center;
  margin-bottom: 5px;
}

figure {
  /* background-color: cadetblue; */
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 150px;
}

.header {
  padding: 20px 150px;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

.header ul a, .header p {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.title-n-p {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
  align-self: center;
  /* margin-top: 0; */
}

.header-top, .header-bottom {
  display: flex;
  margin: 0;
  justify-content: space-between;
  /* background-color: lightblue; */
  /* border: 2px solid blue; */
}


.header-bottom {
  /* background-color: thistle; */
  /* align-items: center; */
  margin-top: 25px;
  /* padding: 10px; */
  height: 20vh;
}

button {
  background-color: #3882F6;
  border-radius: 5px;
  border: none;
  width: 80px;
  padding: 6px 0;
}

h1 {
  /* background-color: wheat; */
  margin: 0;
  padding: 0;
}

.header-bottom button a {
  background-color: #3882F6;
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.top-img {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.top-img img{
  
  width: 300px;
  height: 190px;
  /* min-height: 100%; */
  border-radius: 20%;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
	/* height: -500px; */
	/* flex: 0 1 auto; */
}

p {
  /* font-size: 18px;
  color: #E5E7EB; */
  margin: 0;
}

.header-bottom{
  padding: 50px 0 100px 0;
  gap: 60px;
  min-width: max-content;
  /* padding-bottom: 100px; */
}

.header-bottom h1 {
  /* font: 48px extra-bold #F9FAF8; */
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  gap: 20px
}

.header-top img {
 width: auto;
 height: 50px;
 border-radius: 50%;
}


.top {
  display: flex;
}

#information {
  display: flex;
}

#action {
  margin: 100px 150px;
  padding: 50px 100px;
  display: flex;
  background-color: #3882F6;
  color: white;
  justify-content: space-between;
  border-radius: 5px;
  min-width: max-content;
  gap: 50px;
}
  
#action h3 {
  margin: 0;
}
  
#action p {
  opacity: 60%;
}

#action a{
  display: flex;
  border: 2px solid white;
  border-radius: 5px;
  /* background-color: violet; */
  text-decoration: none;
  padding: 6px 16px;
  color: white;
  /* padding: 0; */
  /* flex-shrink: 0; */
  justify-content: center;
  width: 80px;
}

.footer {
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 30px;
  text-align: center;
}
